body {
	background-color: #fff;
}

.wrapper {
	margin: auto;
	width: 960px;
	height: 512px;
	margin: 75px auto 0px auto;
}

.harvey {
	background-image: url("../images/matt_harvey.jpg");
	background-repeat: no-repeat;
	width: 300px;
	height: 512px;
	float: left;
}

.text {
	width: 620px;
	height: 512px;
	float: left;
	text-align: center;
	padding: 20px;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.03em;
	font-size: 300%;
	color: #ffa500;
	text-shadow: 2px 2px 0px #000080;
}

.question, .rightwrong, .final {
	display: none;
	font-size: 70%;
}

.question {
	text-align: left;
}

.question_num {
	text-align: center;
	color: #326db9;
}

.submitbutton, .nextbutton {
	text-align: center;
}

.start p {
	margin: 35px auto;
}

.question p {
	margin-top: 0px;
	margin-bottom: 10px;
}

.answertext {
	margin: 20px auto;
}

input[type="radio"] {
	margin: 0px 10px 27px 40px;
}

button {
	text-shadow: 2px 2px 0px #000080;
	background-color: #bdbdbd;
	border-radius: 10px;
	font-size: 90%;
	letter-spacing: 0.05em;
}

button:hover {
	background-color: #0049a8;
}